body {
    background-image: url(../imgs/space.jpg);
    /* background-color: rgba(0, 0, 0, 0.870); */
    font-family: monospace;
    font-size: small;
}

header {
    display: flex;
    justify-content: space-around;
    margin-right: 7%;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

div {
    color: white;
    text-align: center;
    margin: 5%;
    border-radius: 25px;
}

img {
    width: 425px;
    border-radius: 25px;
    box-shadow: 5px 5px 5px white;
}

button {
    border-radius: 25px;
    font-family: monospace;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100px;
}

#refresh {
    height: 40px;
    margin-top: 3%;
    /* margin-top: 45px; */
}

h1 {
    display: flex;
    justify-content: center;
    margin-top: 3%;
    color: white;
    font-style: italic;
}

span {
    font-size: large;
    color: white;
}


#footer {
    display: flex;
    justify-content: space-around;
    color: white;
}

#scrolltop {
    box-shadow: none;
    width: 15%;
    height: 15%;
    margin-top: 1%;
}

#recorde {
    margin-bottom: 5%;
    
}

#spanAtual {
    display: flex;
    justify-content: center;
    font-size: x-large;
    margin-top: 1%;
}